<form class="row g-3 needs-validation" novalidate>
   
    <div class="mb-3">        
        <label for="validationCustom02" class="form-label">Matricule</label>
        <input type="date" class="form-control" id="validationCustom02" required>
        <div class="valid-feedback">Looks good!</div>
      </div> 

    <div class="mb-3">        
        <label for="validationCustom02" class="form-label">Date début</label>
        <input type="date" class="form-control" id="validationCustom02" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">      
        <label for="validationCustom02" class="form-label">Date fin</label>
        <input type="date" class="form-control" id="validationCustom02" required>
        <div class="valid-feedback">Looks good!</div>
      </div>
    
      <div class="form-group">
        <label for="Textarea1" class="form-label">Raison de congé</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>


<div (ngSubmit)="onSubmit()" class="form-group">
        <label for="fileInput" class="form-label">Choisir un fichier</label>
        <input type="file" id="fileInput" class="form-control-file" (change)="onFileChange($event)" required>
      </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Envoyer</button>
    </div>
  </form>
  