@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
/* Sidebar Styles */
#sidebar {
    position: fixed;
    left: 0;
    width: 260px;
    height: 100%;
    background-color: #263238;
    overflow-y: auto;
    transition: all 0.5s ease;

  }
  
  #sidebar header {
    background-color: #37474F;
    color: #fff;
    font-size: 24px;
    line-height: 60px;  
    text-align: center;
  }
  
  #sidebar .nav {
    padding-top: 20px;
    list-style-type: none;
    
  }
  
  #sidebar .nav a {
    display: block;
    padding: 12px 30px;
    color: #CFD8DC;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.6s ease;
    text-align: center  ;
    
  }
  
  #sidebar .nav a:hover {
    color: #ECEFF1;
    background-color: #455A64;
    width: 300px;
    margin-left:-40px;
  }
  
  #sidebar .nav a i {
    margin: 25px 25px;
  }
