<p-sidebar>
  <div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <h1>SGRH</h1>
      </header>

      <ul class="nav list-unstyled">
        <li>
          <a routerLink="/dashboard">
            <i class="zmdi zmdi-google"></i>Dashboard
          </a>
        </li>

        <li>
          <button class="btn" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            <a><i class="zmdi zmdi-google"></i>Employés</a>
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav zmdi zmdi-view-dashboard ">
              <li><a routerLinkActive="active" routerLink="/ajoutemp"
                  class="link-body-emphasis text-decoration-none">Ajout</a></li>
              <li><a href="#" class="link-body-emphasis text-decoration-none">Liste</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="#">
            <i class="zmdi zmdi-link"></i> Salaires
          </a>
        </li>
        <li>
          <button class="btn" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            <a><i class="zmdi zmdi-google"></i>Congé</a>
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav zmdi zmdi-view-dashboard ">
              <li><a routerLinkActive="active" routerLink="/demandeconge"
                  class="link-body-emphasis text-decoration-none">Demande congé</a></li>
              <li><a href="#" class="link-body-emphasis text-decoration-none">Liste</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="#">
            <i class="zmdi zmdi-info-outline"></i> Demandes
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-comment-more"></i> Roles
          </a>
        </li>
      </ul>
    </div>
    <!-- Content -->
    <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <!-- <app-dashboard></app-dashboard> -->
      </div>
    </div>
  </div>
</p-sidebar>
<router-outlet></router-outlet>